<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <link rel="preload" 
    href="<%= require('../component-landing/images/heavy-breathing-cat.jpg') %>"
    as="image" type="image/jpeg">
  <link rel="preload" 
    href="<%= require('../scss-global/fonts/roboto-v20-latin-400.woff2') %>"
    as="font" type="font/woff2" crossorigin>
  <link rel="preload" 
    href="<%= require('../scss-global/fonts/roboto-v20-latin-900.woff2') %>"
    as="font" type="font/woff2" crossorigin>
  <link rel="preload" 
    href="<%= require('../scss-global/fonts/zilla-slab-highlight-v7-latin-700.woff2') %>"
    as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="<%= require('../component-meme/images/loader-meme-1.jpg') %>">
  <link rel="prefetch" href="<%= require('../component-meme/images/loader-meme-2.jpg') %>">
  <link rel="prefetch" href="<%= require('../component-meme/images/loader-meme-3.jpg') %>">
  <link rel="prefetch" href="<%= require('../component-meme/images/loader-meme-4.jpg') %>">
  <link rel="prefetch" href="<%= require('../component-meme/images/loader-meme-5.jpg') %>">
  <link rel="prefetch" href="<%= require('../component-meme/images/loader-meme-6.jpg') %>">

  <link rel="shortcut icon" href="<%= require('./images/green-mnm.png') %> " type="image/x-icon">
  <%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
  <div id="root"></div>

  <noscript>
    <p>This web app doesn't work without JavaScript.</p>
    <p>Much sorry</p>
    <p>Very remorse</p>
    <img src="<%= require('./images/doge.png') %>">
  </noscript>

  <%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>